<!DOCTYPE html>
<html lang="en" ng-app="mcqApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Multiple Choice Question</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-cloak>

    <div class="container">
        <div ng-controller="mcqController as ctrl" class="col-sm-8 col-lg-4">
            <h1>MCQ Exercise</h1>
            <form ng-submit="ctrl.validateAnswer()">
                <div class="form-group">
                    <label for="question">{{ctrl.questionSet.question}}</label>
                </div>
                <div class="form-group">
                    <label for="answer">Answers :</label>
                    <br/>

                    <div ng-repeat="answer in ctrl.questionSet.answers">
                      <input id="answer" name="answer" type="radio" ng-model="ctrl.finalAnswer.answerValue" value="{{answer.answerValue}}" /> {{answer.label}}
                      <br />
                    </div>

                    <!-- <input id="answer" name="answer" type="radio" ng-model="ctrl.finalAnswer.answerValue" value="{{ctrl.questionSet.answer1.answerValue}}" /> {{ctrl.questionSet.answer1.label}}
                    <br/>
                    <input id="answer" name="answer" type="radio" ng-model="ctrl.finalAnswer.answerValue" value="{{ctrl.questionSet.answer2.answerValue}}" /> {{ctrl.questionSet.answer2.label}}
                    <br/>
                    <input id="answer" name="answer" type="radio" ng-model="ctrl.finalAnswer.answerValue" value="{{ctrl.questionSet.answer3.answerValue}}" /> {{ctrl.questionSet.answer3.label}}
                    <br/>
                    <input id="answer" name="answer" type="radio" ng-model="ctrl.finalAnswer.answerValue" value="{{ctrl.questionSet.answer4.answerValue}}" /> {{ctrl.questionSet.answer4.label}} -->
                    <br/>
                </div>
                <!-- <div class="form-group">
                    <label for="Comments">Comments</label>
                    <input id="Comments" name="Comments" type="text" ng-model="ctrl.finalanswer.comments" class="form-control" />
                </div> -->
                <div class="form-group">
                    <hr/>
                    <input id="submit" name="submit" type="submit" class="btn btn-success" /> {{ ctrl.finalAnswer.serverMessage}}
                </div>
            </form>

        </div>
    </div>
    <!-- loading dependencies on the browser. Order is important as final app.js depends on previous libraries -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>